version: "3.9"
services:
  database:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5438:5432"
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

  api:
    build: ./bookmark-manager-api
    environment:
      - BOOKMARK_MANAGER_API_DATABASE_USERNAME=postgres
      - BOOKMARK_MANAGER_API_DATABASE_PASSWORD=postgres
      - BOOKMARK_MANAGER_API_DATABASE_HOST=database
    command: bash -c "rails db:create db:migrate && rails server -p 4000 -b 0.0.0.0 2>/dev/null || rails db:migrate && rails server -p 4000 -b 0.0.0.0"
    ports:
      - "4000:4000"
    depends_on:
      - database

  # Uncomment for V2
  # ui:
  #   build: ./bookmark-manager-ui
  #   ports:
  #     - "3000:3000"
  #   stdin_open: true
